# Ignorar arquivos e diretórios relacionados ao Maven
target/
*.log
*.md

# Ignorar arquivos e pastas temporários
.idea/
.vscode/
*.iml

# Ignorar arquivos de dependências locais do Maven (caso não utilize repositórios remotos)
.mvn/
*.jar
*.war
*.ear

# Ignorar arquivos de configuração de IDEs e ferramentas de desenvolvimento
*.swp
*.swo

# Ignorar arquivos de configuração do Git
.git/
.gitignore

# Ignorar arquivos temporários do sistema operacional
.DS_Store
Thumbs.db
